[submodule "source/platforms/wyze_plug_and_bulb_8266/WyzeUpdater"]
	path = source/platforms/wyze_plug_and_bulb_8266/WyzeUpdater
	url = https://github.com/HclX/WyzeUpdater.git
[submodule "wiki"]
	path = wiki
	url = https://github.com/elahd/esp2ino.wiki.git